{% extends 'generic/object_edit.html' %}
{% load static %}
{% load buttons %}
{% load helpers %}
{% load plugins %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Job Editor</h2>
                </div>
                <div class="card-body">
                    <form id="job-editor-form">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="name" class="form-label">Name</label>
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="description" class="form-label">Description</label>
                            {{ form.description }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <label for="schedule" class="form-label">Schedule</label>
                            {{ form.schedule }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="source" class="form-label">Source</label>
                            {{ form.source }}
                        </div>
                        <div class="col-md-6">
                            <label for="source-endpoint" class="form-label">Source Endpoint</label>
                            {{ form.source_endpoint }}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="destination" class="form-label">Destination</label>
                            {{ form.destination }}
                        </div>
                        <div class="col-md-6">
                            <label for="destination-endpoint" class="form-label">Destination Endpoint</label>
                            {{ form.destination_endpoint }}
                        </div>
                    </div>
    <h4>Field Mappings</h4>
    <div id="mappings-container" class="mb-3"></div>
    <div class="d-flex justify-content-between mt-3">
        <button type="button" id="add-mapping" class="btn btn-secondary">Add Field Mapping</button>
        <button type="submit" class="btn btn-primary">Save Job</button>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.20.0/cytoscape.min.js"></script>
<script>
    $(function() {
        console.log("Window loaded");
        console.log("{{ sources }}")
        // Add mapping line functionality
        $(document).on('click', '#add-mapping', function() {
            addMappingLine();
        });

        $(document).on('click', '.remove-mapping', function() {
            $(this).closest('.mapping-line').next('.transform-container').remove();
            $(this).closest('.mapping-line').remove();
            updateDiagramFromForm();
        });

        $(document).on('click', '.remove-transform', function() {
            $(this).closest('.transform-line').remove();
            updateDiagramFromForm();
        });

        // Form submit handler
        $(document).on('submit', '#job-editor-form', function(event) {
            event.preventDefault();
            saveJobConfiguration();
        });

        // Trigger get_fields when the source or destination changes
        $(document).on('change', '#source, #destination', function() {
            let datasourceId = $(this).val();
            if (datasourceId) {
                get_fields(datasourceId, $(this).attr('id'));
            }
        });



        // Initialize Cytoscape diagram
        var cy = cytoscape({
            container: document.getElementById('cy'),
            elements: [],
            style: [
                {
                    selector: 'node',
                    style: {
                        'label': 'data(label)',
                        'text-valign': 'center',
                        'color': '#000',
                        'background-color': '#007bff',
                        'width': 'label',
                        'height': 30
                    }
                },
                {
                    selector: 'edge',
                    style: {
                        'curve-style': 'bezier',
                        'width': 3,
                        'line-color': '#9dbaea',
                        'target-arrow-color': '#9dbaea',
                        'target-arrow-shape': 'triangle',
                        'label': 'data(transform)'
                    }
                }
            ]
        });
    });

    function getFields(datasourceId, selectId) {
        console.log(`Getting fields for datasource ID: ${datasourceId}`);
        $.ajax({
            url: `/plugins/api/netbox_data_mover/datasources/get_fields/${datasourceId}/`,
            method: 'GET',
            success: function(data) {
                let selectElement = $(`#${selectId}-endpoint`);
                selectElement.empty();
                selectElement.append('<option value="">Select Field</option>');
                $.each(data.fields, function(index, field) {
                    selectElement.append(`<option value="${field}">${field}</option>`);
                });
            },
            error: function(error) {
                console.error("Failed to get fields", error);
            }
        });
    }

    function addMappingLine() {
        let mappingLineHtml = `    
        <div class="row mb-3 mapping-line">
            <div class="col-md-3">
                <select class="form-select source-field">
                    <option value="">Select Source Field</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select destination-field">
                    <option value="">Select Destination Field</option>
                </select>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-secondary add-transform">Add Transform</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-danger remove-mapping" style="background: none; border: none;"><i class="material-icons">X</i></button>
            </div>
        </div>
        <div class="transform-container"></div>`

        $('#mappings-container').append(mappingLineHtml);
        let newMappingLine = $('#mappings-container').children('.mapping-line').last();

        // Populate the fields for the new mapping line
        getFields($('#source').val(), newMappingLine.find('.source-field').attr('id', `source-field-${newMappingLine.index()}`));
        getFields($('#destination').val(), newMappingLine.find('.destination-field').attr('id', `destination-field-${newMappingLine.index()}`));

        updateDiagramFromForm();
    }


    // Add transform line functionality
    $(document).on('click', '.add-transform', function() {
        let transformHtml = `
            <div class="row mb-3 transform-line">
                <div class="col-md-4 offset-md-1">
                    <select class="form-select transform-type">
                        <option value="">Select Transform</option>
                        <option value="upper">Lower</option>
                        <option value="lower">Uppwer</option>
                        <option value="title">Title</option>
                        <option value="replace">Replace</option>
                        <option value="replace_map">Replace Map</option>
                        <option value="lookup_id">Lookup Object</option>
                        <option value="nested_item">Lookup Object</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control transform-param" placeholder="Transform Parameters">
                    <input type="text" class="form-control transform-param" placeholder="Transform Parameters">
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-danger remove-transform" style="background: none; border: none;"><i class="material-icons">X</i></button>
                </div>
            </div>`

        $(this).closest('.mapping-line').next('.transform-container').append(transformHtml);
    });


    function updateDiagramFromForm() {
        let nodes = [];
        let edges = [];

        let source = $('#source option:selected').text();
        let destination = $('#destination option:selected').text();

        if (source) {
            nodes.push({ data: { id: 'source', label: source } });
        }

        if (destination) {
            nodes.push({ data: { id: 'destination', label: destination } });
        }

        $('.mapping-line').each(function(index, line) {
            let sourceField = $(line).find('.source-field').val();
            let destinationField = $(line).find('.destination-field').val();
            let transform = $(line).find('.transform-type').val();

            if (sourceField && destinationField) {
                nodes.push({ data: { id: `source-${index}`, label: sourceField } });
                nodes.push({ data: { id: `destination-${index}`, label: destinationField } });
                edges.push({ data: { source: `source-${index}`, target: `destination-${index}`, transform: transform } });
            }
        });

        cy.elements().remove();
        cy.add(nodes);
        cy.add(edges);
        cy.layout({ name: 'breadthfirst' }).run();
    }

    function saveJobConfiguration() {
        let jobData = {
            source: $('#source').val(),
            source_endpoint: $('#source-endpoint').val(),
            destination: $('#destination').val(),
            destination_endpoint: $('#destination-endpoint').val(),
            mappings: []
        };

        $('.mapping-line').each(function(index, line) {
            let mapping = {
                source: $(line).find('.source-field').val(),
                transform: $(line).find('.transform-type').val(),
                params: $(line).find('.transform-param').val(),
                destination: $(line).find('.destination-field').val()
            };
            jobData.mappings.push(mapping);
        });

        console.log('Job Data:', jobData);
        // AJAX POST to save the job configuration here...
    }
</script>
{% endblock %}
